* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavegacionSuperior {
    background-color: grey;
    color: rgb(62, 62, 62);
    text-decoration: none;
    display:flex;
    flex-direction: row;
    width: 100%;
}
.NavegacionSuperior a {
    background-color: grey;
    color: rgb(62, 62, 62);
    text-decoration: none;
    margin-left: 10px;
}
.NavegacionSuperior li {
    display: flex;
    width: 100%;
}
.NavSup2 a {
    text-decoration: none;
}
.NavSup3 a {
    text-decoration: none;
}
.NavSuperiorIconoFravega{
    display: flex;
    width: 100%;
    margin-right: 10px;
    justify-content: flex-end;
}
.NavSup2 li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.NavSup2 .Primeros{
    display: flex;
    flex-direction: column;
}
.NavSup2 .Buscador{
    display: flex;
    width: 100%;
    justify-content: center;
}
.NavSup2 a{
    margin-right: 10px;
    margin-left: 10px;
}
.NavSup3 li {
    display: flex;
    width: 100%;
}
.NavSup3 li div a{
    margin-top: 19px;
    margin-right: 10px;
    margin-left: 10px;
}
.NavSup3 li .ernavPrimeros {
    display: flex;
}
.NavSup3 li .ernavPrimeros .boton-violeta{
    color: purple;
}
.NavSup3 .donavSegundos {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;
}