* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.NavegacionSuperior {
    color: rgb(62, 62, 62);
    text-decoration: none;
    display:flex;
    flex-direction: row;
    width: 100%;
    
}
.NavegacionSuperior a {
    color: rgb(62, 62, 62);
    text-decoration: none;
    margin-left: 10px;
    font-size: smaller;
}
.NavegacionSuperior li {
    display: flex;
    width: 100%;
    padding: 0 100px;
}
.NavSup2 a {
    text-decoration: none;
}
.NavSup3 a {
    text-decoration: none;
}
.NavSuperiorIconoFravega{
    display: flex;
    width: 100%;
    margin-right: 10px;
    justify-content: right;
    flex-wrap: wrap;
}
.NavSup2 li{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 100px;
}
.NavSup2 .Primeros{
    display: flex;
    flex-direction: column;
}
.NavSup2 .Buscador{
    display: flex;
    width: 100%;
    justify-content: center;
}
.NavSup2 a{
    margin-right: 10px;
    margin-left: 10px;
    font-size: smaller;
}
.NavSup3{
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}
.NavSup3 li {
    display: flex;
    width: 100%;
    padding: 0 100px;
}
.NavSup3 li div a{
    margin-top: 19px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: x-small;
}
.NavSup3 li .ernavPrimeros {
    display: flex;
}
.NavSup3 li .ernavPrimeros .boton-violeta{
    color: purple;
}
.NavSup3 .donavSegundos {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100%;

}
aside{
    background-color: grey;
    width: 130px;
    flex-shrink: 0;
}
aside button{
    width: 40px;
    font-size: x-small;
}
aside p{
    font-size: x-small;
    font-weight: bold;
    margin-right: 10px;
}
.FiltrosAside{
    color: rgb(56, 54, 54);
}
aside div label{
    font-size: x-small;
}
.titulo-boton-aside{
    background-color: grey;
    display: flex;
    margin-bottom: 10px;

    border-right: solid black 0.5px;
}
.Formas-de-pago{
    background-color: grey;
    display: flex;
    flex-direction: column;

    border-right: solid black 0.5px;
}
.Formas-de-pago div{
    display: flex;
    flex-direction: row;}
.FormasPago{
    display: flex;
    flex-direction: column;
}
.mismolevel img{
    width: 150%;
    margin-left: 40px;
}
.mismolevel{
    display: flex;
    align-items: flex-start;

    background-color: grey;
}
.Grillaprimera{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    margin-left: 100px;
    flex-direction: column;
    border-radius: 5px;
}
.Grillaprincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    grid-template-areas:
                "1 2 3 4 5";
}
.Grillaprincipal article{
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
    border-radius: 5px;
}
.primerarticulo{
    grid-area: "1";
}
.segundorticulo{
    grid-area: "2";
}
.terceroarticulo{
    grid-area: "3";
}
.cuartoarticulo{
    grid-area: "4";
}
.quntoarticulo{
    grid-area: "5";
}
.numeritos{
    display: flex;
}
.numeritos input{
    width: 40px;
    margin-right: 10px;
}
.numeritos #cantidad{
    margin-left: 10px;
}
.PrecioAside a{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}
.numeritos button{
    width: 40px;
    font-size: x-small;
    color: white;
    background-color: violet;
}
.grillasegunda{
    display: grid;
        margin-left: 100px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-template-areas:
                "1 2 3";
}
.grillasegunda article{
    background-color: blueviolet;
    border-radius: 5px;
}
footer{
position: fixed;
  bottom: 0;
  width: 100%;
background-color: white;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}